USE [STshop]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 13/12/2023 12:00:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 13/12/2023 12:00:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[orderSum] [float] NOT NULL,
	[orderDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderItem]    Script Date: 13/12/2023 12:00:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderItem](
	[productId] [int] NOT NULL,
	[orderId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[orderItemId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_orderItem] PRIMARY KEY CLUSTERED 
(
	[orderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 13/12/2023 12:00:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[prodId] [int] IDENTITY(1,1) NOT NULL,
	[categoryId] [int] NOT NULL,
	[description] [varchar](100) NULL,
	[image] [varchar](100) NULL,
	[price] [float] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[prodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATING]    Script Date: 13/12/2023 12:00:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATING](
	[RATING_ID] [int] IDENTITY(1,1) NOT NULL,
	[HOST] [nvarchar](50) NULL,
	[METHOD] [nchar](10) NULL,
	[PATH] [nvarchar](50) NULL,
	[REFERER] [nvarchar](100) NULL,
	[USER_AGENT] [nvarchar](max) NULL,
	[Record_Date] [datetime] NULL,
 CONSTRAINT [PK_RATING] PRIMARY KEY CLUSTERED 
(
	[RATING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 13/12/2023 12:00:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserName] [nchar](10) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Password] [varchar](50) NOT NULL,
	[userId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([categoryId], [categoryName]) VALUES (1, N'animals')
INSERT [dbo].[categories] ([categoryId], [categoryName]) VALUES (2, N'yahadut')
INSERT [dbo].[categories] ([categoryId], [categoryName]) VALUES (3, N'geography')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([orderId], [userId], [orderSum], [orderDate]) VALUES (80, 28, 4, CAST(N'2023-12-13T08:53:33.860' AS DateTime))
INSERT [dbo].[Order] ([orderId], [userId], [orderSum], [orderDate]) VALUES (81, 28, 4, CAST(N'2023-12-13T09:02:30.673' AS DateTime))
INSERT [dbo].[Order] ([orderId], [userId], [orderSum], [orderDate]) VALUES (82, 28, 4, CAST(N'2023-12-13T09:03:34.823' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[orderItem] ON 

INSERT [dbo].[orderItem] ([productId], [orderId], [quantity], [orderItemId]) VALUES (6, 80, 0, 112)
INSERT [dbo].[orderItem] ([productId], [orderId], [quantity], [orderItemId]) VALUES (12, 80, 0, 113)
INSERT [dbo].[orderItem] ([productId], [orderId], [quantity], [orderItemId]) VALUES (6, 80, 0, 114)
SET IDENTITY_INSERT [dbo].[orderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([prodId], [categoryId], [description], [image], [price]) VALUES (1, 1, N'פוסטר עם תמונת פנדה המחיר כולל הדפסה על בריסטול A3', N'1', 2.9)
INSERT [dbo].[products] ([prodId], [categoryId], [description], [image], [price]) VALUES (2, 1, N'תמונת קוף משוכפל בפורמט כיס', N'2', 29)
INSERT [dbo].[products] ([prodId], [categoryId], [description], [image], [price]) VALUES (3, 1, N'כלב, מתאים בנושא "ולכל בני ישראל... כלב לשונו"', N'3', 12.3)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[RATING] ON 

INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (1, N'localhost                                         ', N'GET       ', N'/scripts/Services.js                              ', N'https://localhost:7186/htmls/LoginRegister.html   ', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWeb', CAST(N'2023-12-04T19:26:48.187' AS DateTime))
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (2, N'localhost                                         ', N'GET       ', N'/favicon.ico                                      ', N'https://localhost:7186/htmls/LoginRegister.html   ', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWeb', CAST(N'2023-12-04T19:26:48.233' AS DateTime))
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (3, N'localhost                                         ', N'GET       ', N'/favicon.ico                                      ', N'https://localhost:7186/htmls/LoginRegister.html   ', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWeb', CAST(N'2023-12-04T19:30:23.680' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[RATING] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserName], [FirstName], [LastName], [Password], [userId]) VALUES (N'tamar@a.a ', N'tamar', N'auerbach', N'!@#$1234QWERqwer', 28)
INSERT [dbo].[User] ([UserName], [FirstName], [LastName], [Password], [userId]) VALUES (N'sara@s.s  ', N'sara', N'ochayon', N'Ss!@#$Oo', 29)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[orderItem]  WITH CHECK ADD  CONSTRAINT [FK_orderItem_Order1] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([orderId])
GO
ALTER TABLE [dbo].[orderItem] CHECK CONSTRAINT [FK_orderItem_Order1]
GO
ALTER TABLE [dbo].[orderItem]  WITH CHECK ADD  CONSTRAINT [FK_orderItem_products] FOREIGN KEY([productId])
REFERENCES [dbo].[products] ([prodId])
GO
ALTER TABLE [dbo].[orderItem] CHECK CONSTRAINT [FK_orderItem_products]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[categories] ([categoryId])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_category]
GO
